/* reference: https://en.wikipedia.org/wiki/Flag_of_Belarus */

:root {
  --flag-height: 2;
  --flag-width: 3;
  --belarus-color1: #D22730;
  --belarus-color2: #009B43;
}

#belarus {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--belarus-color1) 0.000%,
    var(--belarus-color1) 50.000%,
    var(--belarus-color2) 50.000%,
    var(--belarus-color2) 100.000%
  );
}
