/* reference: https://en.wikipedia.org/wiki/Flag_of_Brazil */

:root {
  --flag-height: 7;
  --flag-width: 10;
  --brazil-green: #009b3a;
  --brazil-yellow: #ffdf00;
}

#brazil {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: var(--brazil-green);
}

#brazil::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  background: var(--brazil-yellow);
  transform: translate(-50%, -50%) rotate(45deg);
}
