/* reference: https://en.wikipedia.org/wiki/Flag_of_Cambodia */

:root {
  --flag-height: 2;
  --flag-width: 3;
  --cambodia-color1: #032EA1;
  --cambodia-color2: #E00000;
  --cambodia-color3: #032EA1;
}

#cambodia {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--cambodia-color1) 0.000%,
    var(--cambodia-color1) 33.333%,
    var(--cambodia-color2) 33.333%,
    var(--cambodia-color2) 66.667%,
    var(--cambodia-color3) 66.667%,
    var(--cambodia-color3) 100.000%
  );
}
