/* reference: https://en.wikipedia.org/wiki/Flag_of_Israel */

:root {
  --flag-height: 2;
  --flag-width: 3;
  --israel-color1: #0038B8;
  --israel-color2: #FFFFFF;
  --israel-color3: #0038B8;
}

#israel {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--israel-color1) 0.000%,
    var(--israel-color1) 33.333%,
    var(--israel-color2) 33.333%,
    var(--israel-color2) 66.667%,
    var(--israel-color3) 66.667%,
    var(--israel-color3) 100.000%
  );
}
