/* reference: https://en.wikipedia.org/wiki/Flag_of_Japan */

#japan {
  --flag-height: 2;
  --flag-width: 3;
  --japan-white: #ffffff;
  --japan-red: #bc002d;
  --japan-disk-diameter: 60%;
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: var(--japan-white);
}

#japan::before {
  content: "";
  position: absolute;
  width: var(--japan-disk-diameter);
  height: var(--japan-disk-diameter);
  background: var(--japan-red);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
