/* reference: https://en.wikipedia.org/wiki/Flag_of_the_Federated_States_of_Micronesia */

:root {
  --flag-height: 1;
  --flag-width: 2;
  --micronesia-blue: #75b2dd;
  --micronesia-white: #ffffff;
}

#micronesia {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: var(--micronesia-blue);
}

#micronesia::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle at 50% 20%, var(--micronesia-white) 0%, var(--micronesia-white) 5%, transparent 5%),
    radial-gradient(circle at 20% 50%, var(--micronesia-white) 0%, var(--micronesia-white) 5%, transparent 5%),
    radial-gradient(circle at 80% 50%, var(--micronesia-white) 0%, var(--micronesia-white) 5%, transparent 5%),
    radial-gradient(circle at 50% 80%, var(--micronesia-white) 0%, var(--micronesia-white) 5%, transparent 5%);
}
