/* reference: https://flagcdn.com/kn.svg */

#saint-kitts-and-nevis {
  height: 180px;
  aspect-ratio: 900/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNjAwIiBmaWxsPSJub25lIiB2aWV3Qm94PSIwIDAgNzUgNTAiPjxkZWZzPjxjbGlwUGF0aCBpZD0iYSI+PHBhdGggZD0iTTAgMGg3NXY1MEgweiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxwYXRoIGZpbGw9IiMwMDk3MzkiIGQ9Ik0wIDUwVjBoNzV6Ii8+PHBhdGggZmlsbD0iI2M4MTAyZSIgZD0iTTc1IDB2NTBIMHoiLz48ZyBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIHN0cm9rZT0iI2ZmY2QwMCIgc3Ryb2tlLXdpZHRoPSIyMSIgZD0iTTAgNTAgNzUgMCIvPjxwYXRoIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIxNSIgZD0iTTAgNTAgNzUgMCIvPjwvZz48cGF0aCBmaWxsPSIjZmZmIiBkPSJtMTkuNTY1IDI5LjM0NyAxMC40NDggOC4yNTQtMTMuMzA0LS41MzYgMTEuMDc4LTcuMzg2LTQuNjIxIDEyLjQ4N3ptMjguODQ2LTE5LjIzMSAxMC40NDggOC4yNTQtMTMuMzA0LS41MzYgMTEuMDc4LTcuMzg2LTQuNjIxIDEyLjQ4N3oiLz48L3N2Zz4=');
  background-size: 100% 100%;
}
