/* reference: https://flagcdn.com/ws.svg */

#samoa {
  height: 180px;
  aspect-ratio: 1200/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIHZpZXdCb3g9IjAgMCAyODggMTQ0IiBmaWxsPSIjZmZmIj48ZGVmcz48cGF0aCBpZD0iYSIgZD0iTTAtLjk1MS4zMDkgMC0uNS0uNTg4aDFMLS4zMDkgMHoiLz48cGF0aCBpZD0iYiIgZD0ibTAgMCAuMzA5Ljk1MUwtLjUuMzYzaDFsLS44MDkuNTg4eiIvPjwvZGVmcz48cGF0aCBmaWxsPSIjY2UxMTI2IiBkPSJNMCAwaDI4OHYxNDRIMHoiLz48cGF0aCBmaWxsPSIjMDAyYjdmIiBkPSJNMCAwaDE0NHY3MkgweiIvPjx1c2UgeGxpbms6aHJlZj0iI2EiIHRyYW5zZm9ybT0ibWF0cml4KDIwIDAgMCAyMCA3MiA2OSkiLz48dXNlIHhsaW5rOmhyZWY9IiNiIiB0cmFuc2Zvcm09Im1hdHJpeCgxNiAwIDAgMTYgNTAgMjEpIi8+PHVzZSB4bGluazpocmVmPSIjYiIgdHJhbnNmb3JtPSJtYXRyaXgoMTYgMCAwIDE2IDcyIDMpIi8+PHVzZSB4bGluazpocmVmPSIjYiIgdHJhbnNmb3JtPSJtYXRyaXgoMTUgMCAwIDE1IDk0LjUgMTgpIi8+PHVzZSB4bGluazpocmVmPSIjYSIgdHJhbnNmb3JtPSJtYXRyaXgoMTAgMCAwIDEwIDgzIDQ2KSIvPjwvc3ZnPg==');
  background-size: 100% 100%;
}
