/* reference: https://flagcdn.com/st.svg */

#sao-tome-and-principe {
  height: 180px;
  aspect-ratio: 1200/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSI2MDAiIHZpZXdCb3g9IjAgMCAxNjggODQiPjxwYXRoIGZpbGw9IiMwMDk3MzkiIGQ9Ik0wIDBoMTY4djg0SDB6Ii8+PHBhdGggZmlsbD0iI2ZmZDEwMCIgZD0iTTAgMjRoMTY4djM2SDB6Ii8+PHBhdGggZmlsbD0iI2VmMzM0MCIgZD0iTTQyIDQyIDAgODRWMHoiLz48cGF0aCBpZD0iYSIgZD0ibTg0IDI5IDguNDQ4IDI2LTIyLjExNy0xNi4wNjloMjcuMzM4TDc1LjU1MiA1NXoiLz48dXNlIHhsaW5rOmhyZWY9IiNhIiB4PSI0MiIvPjwvc3ZnPg==');
  background-size: 100% 100%;
}
