/* reference: https://flagcdn.com/za.svg */

#south-africa {
  height: 180px;
  aspect-ratio: 900/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgOTAgNjAiPjxkZWZzPjxjbGlwUGF0aCBpZD0iYiI+PHBhdGggZD0ibTAgMCA0NSAzMEwwIDYweiIvPjwvY2xpcFBhdGg+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNMCAwaDkwdjYwSDB6Ii8+PC9jbGlwUGF0aD48L2RlZnM+PHBhdGggZmlsbD0iI0UwM0MzMSIgZD0iTTAgMGg5MHYzMEg0NXoiLz48cGF0aCBmaWxsPSIjMDAxNDg5IiBkPSJNMCA2MGg5MFYzMEg0NXoiLz48ZyBmaWxsPSJub25lIiBjbGlwLXBhdGg9InVybCgjYSkiPjxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIyMCIgZD0iTTkwIDMwSDQ1TDAgMHY2MGw0NS0zMCIvPjxwYXRoIGZpbGw9IiMwMDAiIHN0cm9rZT0iI2ZmYjgxYyIgc3Ryb2tlLXdpZHRoPSIyMCIgZD0ibTAgMCA0NSAzMEwwIDYwIiBjbGlwLXBhdGg9InVybCgjYikiLz48cGF0aCBzdHJva2U9IiMwMDc3NDkiIHN0cm9rZS13aWR0aD0iMTIiIGQ9Im0wIDAgNDUgMzBoNDVNMCA2MGw0NS0zMCIvPjwvZz48L3N2Zz4=');
  background-size: 100% 100%;
}
