/* reference: https://flagcdn.com/ss.svg */

#south-sudan {
  height: 180px;
  aspect-ratio: 1140/570;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMTQwIiBoZWlnaHQ9IjU3MCI+PHBhdGggZmlsbD0iIzAwOTE0QyIgZD0iTTAgMGgxMTQwdjU3MEgwIi8+PHBhdGggZmlsbD0iI0UyMjAyOCIgZD0iTTAgMGgxMTQwdjQwMEgwWiIvPjxwYXRoIGQ9Ik0wIDBoMTE0MHYxNzBIMFoiLz48cGF0aCBmaWxsPSIjRkZGIiBkPSJNMCAxNzBoMTE0MHYzMEgwem0wIDIwMGgxMTQwdjMwSDB6Ii8+PHBhdGggZmlsbD0iIzAwQjZGMiIgZD0ibTAgMCA0OTMuNjM1IDI4NUwwIDU3MFoiLz48cGF0aCBmaWxsPSIjRkZFNTFBIiBkPSJtMTY0LjU0NiAxOTAgNTUuODM5IDE3MS44NTctMTQ2LjE5LTEwNi4yMTRoMTgwLjdsLTE0Ni4xOSAxMDYuMjE0WiIvPjwvc3ZnPg==');
  background-size: 100% 100%;
}
