/* reference: https://en.wikipedia.org/wiki/Flag_of_Tonga */

:root {
  --flag-height: 1;
  --flag-width: 2;
  --tonga-red: #c10000;
  --tonga-white: #ffffff;
}

#tonga {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: var(--tonga-red);
}

#tonga::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  background: var(--tonga-white);
}

#tonga::after {
  content: "";
  position: absolute;
  width: 12%;
  height: 30%;
  top: 10%;
  left: 10%;
  background: var(--tonga-red);
  box-shadow: 9% 9% 0 0 var(--tonga-red), -9% 9% 0 0 var(--tonga-red);
}

