/* reference: https://en.wikipedia.org/wiki/Flag_of_Paraguay */

:root {
  --flag-height: 3;
  --flag-width: 5;
  --paraguay-red: #d52b1e;
  --paraguay-white: #ffffff;
  --paraguay-blue: #0038a8;
}

#paraguay {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--paraguay-red) 0%,
    var(--paraguay-red) 33.333%,
    var(--paraguay-white) 33.333%,
    var(--paraguay-white) 66.666%,
    var(--paraguay-blue) 66.666%,
    var(--paraguay-blue) 100%
  );
}
