/* reference: https://flagcdn.com/mk.svg */

#north-macedonia {
  height: 180px;
  aspect-ratio: 1200/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iLTE0MCAtNzAgMjgwIDE0MCIgZmlsbD0iI2Y4ZTkyZSI+PHBhdGggZmlsbD0iI2Q4MjEyNiIgZD0iTS0xNDAtNzBoMjgwVjcwaC0yODB6Ii8+PHBhdGggZD0iTS0xNDAgMTR2LTI4bDI4MCAyOHYtMjh6bTEyNi04NGgyOEwwLTE1ek0xNCA3MGgtMjhMMCAxNXpNLTE0MC03MGg0MkwxMi44NiA3Ljcyem0wIDE0MGg0MkwxMi44Ni03Ljcyek0xNDAtNzBIOThMLTEyLjg2IDcuNzJ6bTAgMTQwSDk4TC0xMi44Ni03LjcyeiIvPjxjaXJjbGUgcj0iMjUiIGZpbGw9IiNkODIxMjYiLz48Y2lyY2xlIHI9IjIwIi8+PC9zdmc+');
  background-size: 100% 100%;
}
