/* reference: https://en.wikipedia.org/wiki/Flag_of_Scotland */

:root {
  --flag-height: 3;
  --flag-width: 5;
  --scotland-blue: #0065bd;
  --scotland-white: #ffffff;
}

#scotland {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: var(--scotland-blue);
  overflow: hidden;
}

#scotland::before,
#scotland::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

#scotland::before {
  background: linear-gradient(
    to bottom right,
    var(--scotland-white) 0%,
    var(--scotland-white) 15%,
    transparent 15%,
    transparent 85%,
    var(--scotland-white) 85%,
    var(--scotland-white) 100%
  );
}

#scotland::after {
  background: linear-gradient(
    to top right,
    var(--scotland-white) 0%,
    var(--scotland-white) 15%,
    transparent 15%,
    transparent 85%,
    var(--scotland-white) 85%,
    var(--scotland-white) 100%
  );
}
