/* reference: https://en.wikipedia.org/wiki/Flag_of_Slovakia */

:root {
  --flag-height: 2;
  --flag-width: 3;
}

#slovakia {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(180deg, #ffffff 0.000% 33.333%, #0b4ea2 33.333% 66.667%, #ef3340 66.667% 100.000%);
  
}
