/* reference: Fictional flag created for project showcase */

:root {
  --flag-height: 2;
  --flag-width: 3;
}

#elbonia {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(180deg, #556b2f 0% 33.333%, #c2b280 33.333% 66.666%, #8b4513 66.666% 100%);
}
