/* reference: Fictional flag created for project showcase */

:root {
  --flag-height: 2;
  --flag-width: 3;
}

#gondor {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(180deg, #111111 0% 33.333%, #ffffff 33.333% 66.666%, #111111 66.666% 100%);
}
