/* reference: Fictional flag created for project showcase */

:root {
  --flag-height: 2;
  --flag-width: 3;
}

#latveria {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(90deg, #1a237e 0% 33.333%, #fdd835 33.333% 66.666%, #1a237e 66.666% 100%);
}
