/* reference: Fictional flag created for project showcase */

:root {
  --flag-height: 2;
  --flag-width: 3;
}

#ruritania {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(90deg, #004d40 0% 33.333%, #ffffff 33.333% 66.666%, #bf360c 66.666% 100%);
}
