/* reference: https://en.wikipedia.org/wiki/Flag_of_Gabon */

:root {
  --flag-height: 3;
  --flag-width: 4;
  --gabon-green: #009e49;
  --gabon-yellow: #ffe700;
  --gabon-blue: #003da5;
}

#gabon {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--gabon-green) 0%,
    var(--gabon-green) 33.333%,
    var(--gabon-yellow) 33.333%,
    var(--gabon-yellow) 66.666%,
    var(--gabon-blue) 66.666%,
    var(--gabon-blue) 100%
  );
}
