/* reference: https://en.wikipedia.org/wiki/Flag_of_Madagascar */

:root {
  --flag-height: 2;
  --flag-width: 3;
  --madagascar-white: #ffffff;
  --madagascar-red: #fc3d32;
  --madagascar-green: #007e3a;
}

#madagascar {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    90deg,
    var(--madagascar-white) 0%,
    var(--madagascar-white) 33.333%,
    var(--madagascar-red) 33.333%,
    var(--madagascar-red) 66.666%,
    var(--madagascar-green) 66.666%,
    var(--madagascar-green) 100%
  );
}
