/* reference: https://en.wikipedia.org/wiki/Flag_of_Malawi */

:root {
  --flag-height: 2;
  --flag-width: 3;
  --malawi-color1: #000000;
  --malawi-color2: #CE1126;
  --malawi-color3: #007A36;
}

#malawi {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--malawi-color1) 0.000%,
    var(--malawi-color1) 33.333%,
    var(--malawi-color2) 33.333%,
    var(--malawi-color2) 66.667%,
    var(--malawi-color3) 66.667%,
    var(--malawi-color3) 100.000%
  );
}
