/* reference: https://flagcdn.com/ag.svg */

#antigua-and-barbuda {
  height: 180px;
  aspect-ratio: 900/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5MDAiIGhlaWdodD0iNjAwIiB2aWV3Qm94PSIwIDAgMTM4IDkyIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMCAwaDEzOHY5MkgweiIvPjxwYXRoIGQ9Ik0wIDBoMTM4bC05IDQ2SDl6Ii8+PHBhdGggZmlsbD0iI2ZjZDExNiIgZD0iTTY5IDQ2IDM5IDM2bDE1LjI4OC0yLjkyNi0xMy4wMDQtOC41NTUgMTUuMjQ0IDMuMTQ3LTguNzQxLTEyLjg3OSAxMi44NzkgOC43NDEtMy4xNDctMTUuMjQ0IDguNTU1IDEzLjAwNEw2OSA2bDIuOTI2IDE1LjI4OCA4LjU1NS0xMy4wMDQtMy4xNDcgMTUuMjQ0IDEyLjg3OS04Ljc0MS04Ljc0MSAxMi44NzkgMTUuMjQ0LTMuMTQ3LTEzLjAwNCA4LjU1NUw5OSAzNnoiLz48cGF0aCBmaWxsPSIjMDA3MmM2IiBkPSJNOSAzNmgxMjB2MjBIOXoiLz48cGF0aCBmaWxsPSIjY2UxMTI2IiBkPSJtMCAwIDY5IDkyIDY5LTkydjkySDB6Ii8+PC9zdmc+');
  background-size: 100% 100%;
}
