/* reference: https://flagcdn.com/my.svg */

#malaysia {
  height: 180px;
  aspect-ratio: 1200/600;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjYwMCIgdmlld0JveD0iMCAwIDEzNDQwIDY3MjAiIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0wIDBoMTM0NDB2NjcyMEgweiIvPjxwYXRoIHN0cm9rZT0iI2MwMCIgZD0iTTQ4MCAyNDBoMTI5NjBtMCA5NjBINDgwbTAgOTYwaDEyOTYwbTAgOTYwSDQ4MCIgc3Ryb2tlLXdpZHRoPSI0ODAiLz48cGF0aCBmaWxsPSIjMDA2IiBkPSJNMCAwaDY3MjB2NDA4MEgweiIvPjxwYXRoIHN0cm9rZT0iI2MwMCIgZD0iTTAgNDA4MGgxMzQ0MG0wIDk2MEgwbTAgOTYwaDEzNDQwIiBzdHJva2Utd2lkdGg9IjQ4MCIvPjxwYXRoIGZpbGw9IiNmYzAiIGQ9Im00MjAwIDcyMCAxMDcgNzMyIDQxNC02MTMtMjIyIDcwNiA2MzktMzczLTUwNiA1NDAgNzM4LTU5LTY5MCAyNjcgNjkwIDI2Ny03MzgtNTkgNTA2IDU0MC02MzktMzczIDIyMiA3MDYtNDE0LTYxMy0xMDcgNzMyLTEwNy03MzItNDE0IDYxMyAyMjItNzA2LTYzOSAzNzMgNTA2LTU0MC03MzggNTkgNjkwLTI2Ny02OTAtMjY3IDczOCA1OS01MDYtNTQwIDYzOSAzNzMtMjIyLTcwNiA0MTQgNjEzem0tNjAwIDMwYTEyODAgMTI4MCAwIDEgMCAwIDIzNDAgMTQ0MCAxNDQwIDAgMSAxIDAtMjM0MHoiLz48L3N2Zz4=');
  background-size: 100% 100%;
}
