/* reference: https://en.wikipedia.org/wiki/Flag_of_Tajikistan */

:root {
  --flag-height: 2;
  --flag-width: 3;
  --tajikistan-color1: #D70000;
  --tajikistan-color2: #FFFFFF;
  --tajikistan-color3: #006600;
}

#tajikistan {
  position: relative;
  height: 180px;
  aspect-ratio: var(--flag-width) / var(--flag-height);
  background: linear-gradient(
    180deg,
    var(--tajikistan-color1) 0.000%,
    var(--tajikistan-color1) 33.333%,
    var(--tajikistan-color2) 33.333%,
    var(--tajikistan-color2) 66.667%,
    var(--tajikistan-color3) 66.667%,
    var(--tajikistan-color3) 100.000%
  );
}
